---
interface Props {
    title: string;
    description: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full antialiased">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
<body class="flex h-full flex-col bg-zinc-50 scroll-smooth">
<slot />
</body>
</html>

<style is:global>
    @import "../styles/global.css";
</style>
